<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <% if (post.top){ %>
        <span class='article-top'>【<%- __('topped') %>】</span>
      <% } %>
      <%- partial('post/date', {class_name: 'article-date', date_format: theme.date_formats.post }) %>
      <%- partial('post/category') %>
      <% if (!index){ %>
        <%- partial('post/views-count') %>
      <% } %>
      <%- partial('post/comments-count') %>
    </div>
    <div class="e-content article-entry" itemprop="articleBody">
      <% var show_all_content = true %>
      <% if (index){ %>
        <% if (post.excerpt){ %>
          <% show_all_content = false %>
          <%- post.excerpt %>
        <% } else if (theme.auto_excerpt.enable && index) { %>
          <% var br_pos = 0 %>
          <% for (var br_count = 0; br_count < theme.auto_excerpt.lines; br_count++) { %>
            <% br_pos = post.content.indexOf('\n',br_pos + 1) %>
            <% if(br_pos < 0) { break } %>
          <% } %>
          <% if(br_pos > 0) { %>
            <% show_all_content = false %>
            <p><%- post.content.substring(0, br_pos + 1) %><p>
          <% } %>
        <% } %>
      <% } else { %>
        <%- post.content %>
        <% if (!index){ %>
            <div id="toc-article">
                <%- partial('post/toc') %>
            </div>
        <% } %>
        <% if (theme.copyright.enable){ %>
          <blockquote id="copyright">
              <p><%= __("copyright_link") %>: <a href="<%- url_for(config.url +'/'+ page.path) %>"><%- url_for(config.url +'/'+ page.path) %></a></p>
              <p><%= __("copyright_notice") %>: <%= theme.copyright.content %></p>
          </blockquote>
        <% } %>
      <% } %>
    </div>
    <footer class="article-footer">
      <% if (!show_all_content || (post.excerpt && index && theme.excerpt_link)){ %>
        <%- partial('post/tag') %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } else { %>
        <div class="article-tag-wrap">
          <%- partial('post/reward') %>
          <%- partial('post/tag') %>
          <%- partial('post/share') %>
        </div>
      <% } %>
      <% if (!index){ %>
        <%- partial('post/nav') %>
      <% } %>
      <% if (!index){ %>
        <%- partial('post/comments') %>
      <% } %>
    </footer>
  </div>
</article>
